In [1]:
import pandas as pd
import numpy as np

data={'A':['x','y','z'],'B':[1000,2000,3000],'C':[10,20,30]}
df=pd.DataFrame(data,index=['a','b','c'])

df

# df.values

/Users/weiqi/.pyenv/versions/3.10.0/envs/quant/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

   A     B   C
a  x  1000  10
b  y  2000  20
c  z  3000  30

In [2]:
df.values

array([['x', 1000, 10],
       ['y', 2000, 20],
       ['z', 3000, 30]], dtype=object)

In [3]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [4]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [5]:
df['A']

a    x
b    y
c    z
Name: A, dtype: object

In [6]:
df['D']=10
df

   A     B   C   D
a  x  1000  10  10
b  y  2000  20  10
c  z  3000  30  10

In [7]:
del df['D']
df

   A     B   C
a  x  1000  10
b  y  2000  20
c  z  3000  30

In [8]:
df.loc['c']

A       z
B    3000
C      30
Name: c, dtype: object

In [9]:
newRow=pd.DataFrame({'A': 'new', 'B': 4000, 'C': 40}, index=['d'])
df=pd.concat([df, newRow])
df

     A     B   C
a    x  1000  10
b    y  2000  20
c    z  3000  30
d  new  4000  40

In [10]:
df.loc['e'] = {'A': 'new2', 'B': 5000, 'C': 50}
df

      A     B   C
a     x  1000  10
b     y  2000  20
c     z  3000  30
d   new  4000  40
e  new2  5000  50

In [11]:
df2=pd.DataFrame({1,2,3,4,5},index=['a','b','c','d','z'],columns=['E'])
df2

   E
a  1
b  2
c  3
d  4
z  5

In [12]:
df.join(df2)

      A     B   C    E
a     x  1000  10  1.0
b     y  2000  20  2.0
c     z  3000  30  3.0
d   new  4000  40  4.0
e  new2  5000  50  NaN

In [13]:
df.join(df2, how='outer')

      A       B     C    E
a     x  1000.0  10.0  1.0
b     y  2000.0  20.0  2.0
c     z  3000.0  30.0  3.0
d   new  4000.0  40.0  4.0
e  new2  5000.0  50.0  NaN
z   NaN     NaN   NaN  5.0

In [14]:
dates=pd.date_range('20220401',periods=8)
dates

DatetimeIndex(['2022-04-01', '2022-04-02', '2022-04-03', '2022-04-04',
               '2022-04-05', '2022-04-06', '2022-04-07', '2022-04-08'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df=pd.DataFrame(np.random.randn(8,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2022-04-01 -0.420940 -0.157944  0.754620 -0.029346
2022-04-02  1.085295 -1.622202  0.747347  0.411243
2022-04-03 -0.558862  0.167213  0.806693 -0.826538
2022-04-04 -1.657511  0.654515 -0.362841 -0.027650
2022-04-05 -0.736341  0.421702 -0.242769 -0.314067
2022-04-06 -0.857822 -0.430512 -0.503849 -1.017324
2022-04-07 -0.484972 -0.507784 -1.194534 -0.307490
2022-04-08 -2.225275  0.202111  0.851119 -0.243902

In [16]:
df.sum()

A   -5.856427
B   -1.272900
C    0.855785
D   -2.355072
dtype: float64

In [17]:
df.describe()

              A         B         C         D
count  8.000000  8.000000  8.000000  8.000000
mean  -0.732053 -0.159112  0.106973 -0.294384
std    0.970464  0.714360  0.782209  0.454853
min   -2.225275 -1.622202 -1.194534 -1.017324
25%   -1.057744 -0.449830 -0.398093 -0.442184
50%   -0.647602  0.004635  0.252289 -0.275696
75%   -0.468964  0.257009  0.767638 -0.028922
max    1.085295  0.654515  0.851119  0.411243