In [2]:
import pandas as pd

data={'A':['x','y','z'],'B':[1000,2000,3000],'C':[10,20,30]}
df=pd.DataFrame(data,index=['a','b','c'])

df

# df.values

   A     B   C
a  x  1000  10
b  y  2000  20
c  z  3000  30

In [3]:
df.values

array([['x', 1000, 10],
       ['y', 2000, 20],
       ['z', 3000, 30]], dtype=object)